@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.app {
  // navBar style
  nav {
    @include clamp-width(375px, 100vw, 1920px);
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 1fr;
    background-color: $black;
    padding: 0 5em 0 6em;
    ul {
      grid-column: 1/11;
      li {
        a {
          display: block;
          padding: $body-lg-400;
          @include hover-highlight($hero, $black);
        }
      }
    }
    // support number style
    .support_num {
      grid-column: 12/15;
      cursor: copy;
      position: relative;
      // copy msg style
      .copy_msg {
        @include tooltip-style($gray-lighter);
      }

      &.show_msg .copy_msg {
        opacity: 1;
      }
      i {
        margin-right: 10px;
        font-size: $heading-04-400;
      }
    }
    //.....
    ul,
    .support_num {
      color: white;
      @include flex-center();
    }
  }
}
