@use "variables" as *;
@use "mixins" as *;

.app {
  //  header
  .main_header {
    @include clamp-width(375px, 100vw, 1920px);
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 1fr;
    padding: $heading-05-400 0;
    //logo
    .logo {
      grid-column: 2/4;
      @include flex-center($body-lg-400);
      cursor: pointer;
      // logo img
      img {
        width: $heading-02-400;
        animation: plane 2s infinite alternate;
      }
      // logo name
      h3 {
        font-size: $heading-02-400;
        color: $green-gray-9;
      }
    }
    // form
    form {
      grid-column: 6/9;
      @include clamp-width(375px, 50vw, 611px);
      border: solid 1px $gray-very-light;
      border-radius: 6px;
      padding: 0 0 0 12px;
      display: flex;
      align-items: center;
      overflow: hidden;
      background-color: $white;
      // search icon
      i {
        color: $gray-light;
      }
      // search input
      input[type="search"] {
        padding: 0 12px;
        background-color: $white;
        text-transform: none;
        width: 100%;
      }
      // search button
      .btn_search {
        margin-left: auto;
        padding: 17px 12px;
        width: 150px;
        color: $white;
        font-weight: $font-weight-semibold;
        @include btn-hover($green-primary, $green-gray-6);
      }
      transition: box-shadow 0.3s ease-in-out;
      &:focus-within {
        box-shadow: 0 0 5px 1px $green-primary;
      }
    }
    // cart wrapper
    .cart_wrapper {
      grid-column: 11/13;
      @include flex-center(10px);
      // search icon for small screen
      .search_btn_sscreen {
        i {
          display: none;
          font-size: $heading-04-400;
          color: $green-primary;
          transition: color 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            color: $green-gray-6;
          }
        }
      }
      .fav_products_box {
        cursor: pointer;
        flex-shrink: 0;
      }
      .devider {
        width: 1px;
        height: 24px;
        background-color: $gray-very-light;
      }
      .cart {
        display: flex;
        gap: 10px;
        cursor: pointer;
        .cost_products {
          h3 {
            font-size: $body-sm-400;
            font-weight: $font-weight-medium;
            color: $gray-light;
          }
        }
      }
    }
  }
}

@keyframes plane {
  0% {
    transform: rotate(5deg);
    scale: 1.1;
  }
  100% {
    transform: rotate(-5deg);
  }
}
