@use "variables" as *;

// start ecommerce app
.app {
  // start header
  .main_header {
    width: clamp(375px, 100vw, 1920px);
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    padding: $heading-05-400 0;
    // start logo
    .logo {
      grid-column: 2/4;
      display: flex;
      align-items: center;
      gap: $body-lg-400;
      cursor: pointer;
      // logo img
      img {
        width: $heading-02-400;
      }
      // logo name
      h3 {
        font-size: $heading-02-400;
        color: $green-gray-9;
      }
    }
    // end logo
    // start form
    form {
      grid-column: 5/8;
      width: clamp(375px, 50vw, 611px);
      border: solid 1px $gray-very-light;
      border-radius: 6px;
      padding: 0 0 0 12px;
      display: flex;
      align-items: center;
      overflow: hidden;
      background-color: $white;
      // search icon
      i {
        color: $gray-light;
      }
      // search input
      input[type="search"] {
        padding: 0 12px;
        background-color: $white;
        text-transform: none;
        width: 100%;
      }
      // search button
      .btn_search {
        margin-left: auto;
        padding: 15px 12px 15px 12px;
        width: 150px;
        background-color: $green-primary;
        color: $white;
        font-weight: $font-weight-semibold;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
        // search button :hover
        &:hover {
          background-color: $green-gray-6;
        }
      }
    }
    // end form
    // start cart wrapper
    .cart_wrapper {
      grid-column: 10/13;
      display: flex;
      align-items: center;
      gap: 15px;
      // search icon for small screen
      .search_btn_sscreen {
        i {
          display: none;
          font-size: $heading-04-400;
          color: $green-primary;
          // margin-top: 5px;
          transition: color 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            color: $green-gray-6;
          }
        }
      }
      .fav_products_box {
        cursor: pointer;
      }
      .devider {
        width: 1px;
        height: 24px;
        background-color: $gray-very-light;
      }
      .cart {
        display: flex;
        gap: 10px;
        cursor: pointer;
        .cost_products {
          h3 {
            font-size: $body-sm-400;
            font-weight: $font-weight-medium;
            color: $gray-light;
          }
        }
      }
    }
    // end cart wrapper
  }
  // end header
}

// end ecommerce app
