@use "variables" as *;
@use "mixins" as *;

.app {
  // hero section
  #hero {
    width: 100%;
    height: 800px;
    background-color: $hero;
    @include flex-center;
    flex-direction: column;
    // container
    .hero_container {
      margin-top: 150px;
      @include clamp-width(375px, 100vw, 1920px);
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
      // content info
      .hero_content {
        grid-column: 2/6;
        .co_title {
          font-weight: 500;
          @include clamp-font($body-sm-400, $body-md-400, $body-lg-400);
          color: $green-primary;
          text-transform: uppercase;
          @include selection($green-primary, $white);
        }
        .main_title {
          font-family: sans-serif;
          font-weight: $font-bold;
          @include clamp-font(2.5rem, 6vw, 4.5rem);
          color: $black;
          line-height: 1.1;
          margin-top: 35px;
          @include selection($green-primary, $white);
        }
        .hero_discount {
          @include clamp-font(
            $heading-04-400,
            $heading-03-400,
            $heading-02-400
          );
          margin-top: 20px;
          span {
            font-family: sans-serif;
            font-weight: $font-bold;
            text-transform: uppercase;
            color: $orange-warning;
            @include selection($orange-warning, $white);
          }
          @include selection($green-primary, $white);
        }
        .hero_para {
          @include clamp-font($body-sm-400, $body-md-400, $body-lg-400);
          color: $gray-light;
          @include selection($green-primary, $white);
        }
        .btn_hero_show {
          @include button-style(
            $green-primary,
            $white,
            $body-lg-400,
            $heading-01-400,
            53px
          );
          margin-top: $heading-02-400;
          &:hover {
            background-color: $green-gray-7;
            i {
              transition: all 0.3s ease-in-out;
              transform: translateX(5px);
            }
          }
        }
      }
      // main hero img
      .hero_images {
        grid-column: 6/12;
        display: flex;
        aspect-ratio: 16/9;
        overflow: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        touch-action: none;
        pointer-events: none;
        img {
          flex: 1 0 100%;
          scroll-snap-align: start;
        }
        .hero_second_img {
          display: none;
        }
      }
      // hero features
    }
  }
}
