// flex and gap
@mixin flex-center($gap: 0) {
  display: flex;
  align-items: center;
  gap: $gap;
}

//btn and hover
@mixin btn-hover($bg-color, $hover-color) {
  background-color: $bg-color;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

@mixin hover-highlight($hover-bg, $color) {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color;
    background-color: $hover-bg;
  }
}

// for width style
@mixin clamp-width($min, $preferred, $max) {
  width: clamp($min, $preferred, $max);
}

@mixin tooltip-style($bg-color, $text-color: white) {
  position: absolute;
  top: -25px;
  right: 150px;
  background-color: $bg-color;
  color: $text-color;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

@mixin clamp-font($min, $vw, $max) {
  font-size: clamp($min, $vw, $max);
}

@mixin selection($bg, $color) {
  &::selection {
    background-color: $bg;
    color: $color;
  }
}
