@use "variables" as *;

.app {
  nav {
    width: clamp(375px, 100vw, 1920px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    background-color: $black;
    padding: 0 3em 0 6em;
    ul {
      grid-column: 1/8;
      li {
        a {
          display: block;
          padding: $body-lg-400;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: $green-gray-3;
          }
        }
      }
    }
    .support_num {
      grid-column: 11/13;
      cursor: copy;
      position: relative;
      .copy_msg {
        position: absolute;
        top: -25px;
        right: 0;
        background-color: $gray-lighter;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 0.8rem;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
      }

      &.show_msg .copy_msg {
        opacity: 1;
      }
      i {
        margin-right: 10px;
        font-size: $heading-04-400;
      }
    }
    ul,
    .support_num {
      color: white;
      display: flex;
      align-items: center;
    }
  }
}
