@use "variables" as *;
@use "mixins" as *;

// small-desktop === 1250 // 12
@media (max-width: $small-desktop) {
  .app {
    //  header
    .main_header {
      width: clamp($small-screen, 100vw, $small-desktop);
      grid-template-columns: repeat(12, 1fr);
      // form
      form {
        grid-column: 6/9;
        width: clamp(375px, 50vw, $tablet-screen);
      }
      // cart wrapper
      .cart_wrapper {
        grid-column: 9/12;
        gap: $body-lg-400;
      }
    }
    // hero section
    #hero {
      overflow: hidden;
      align-items: start;
      height: calc(100vh - 150px);
      .hero_container {
        display: block;
        position: relative;
        .hero_content {
          width: 100%;
          height: calc(100vh - 150px);
          backdrop-filter: blur(5px);
          position: absolute;
          top: 50%;
          left: 55px;
          transform: translateY(25%);
          z-index: 10;
        }
        .hero_images {
          width: 100%;
          position: fixed;
          right: -400px;
          top: 50%;
          transform: translateY(-35%);
          z-index: 9;
          img {
            display: none;
          }
          .hero_second_img {
            flex: 0 1 auto;
            object-fit: contain;
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

// tablet-screen === 1080 // 8
@media (max-width: $tablet-screen) {
  .app {
    position: relative;
    // layout behind search

    &::before {
      content: "";
      background-color: #00000091;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 3;
      display: none;
    }
    &.search_layout::before {
      display: block;
    }
    // header
    .main_header {
      grid-template-columns: repeat(8, 1fr);
      .logo {
        grid-column: 2/3;
      }
      form {
        display: none;
        position: fixed;
        transition: all 0.3s ease-in-out;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
      }
      .cart_wrapper {
        grid-column: 5/8;
        // i add search icon for small screen
        .search_btn_sscreen {
          i {
            display: block;
          }
        }
      }
    }
    // navBar
    nav {
      width: clamp(375px, 100vw, $tablet-screen);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      // support number style
      .support_num {
        display: none;
      }
    }
    // hero section
    #hero {
    }
  }
}

// phone-screen === 787 //6
@media (max-width: $phone-screen) {
  .app {
    //header
    .main_header {
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      .logo {
        gap: 5px;
        img {
          width: $heading-04-400;
        }
        h3 {
          font-size: $heading-04-400;
        }
      }
      .cart_wrapper {
        gap: 5px;
        .search_btn_sscreen {
          font-size: $body-md-400;
        }
        .fav_products_box,
        .cart {
          img {
            width: $heading-03-400;
          }
        }
        .cart {
          .cost_products {
            font-size: $body-md-400;
          }
        }
      }
    }
    // navBar
    nav {
      width: clamp(375px, 100vw, $tablet-screen);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      ul {
        li {
          a {
            i {
              display: block !important;
            }
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}

// $small-screen: 376px; //4
@media (max-width: $small-screen) {
  .app {
    .main_header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
