@use "variables" as *;

@media (max-width: $small-desktop) {
  .app {
    .main_header {
      justify-content: space-between;
      padding: 10px 50px;

      form {
        width: 375px;

        .btn_search {
          font-size: $body-md-400;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
}

@media (min-width: 526px) and (max-width: $small-screen) {
  .app {
    .main_header {
      position: relative;
      z-index: 2;

      form {
        position: absolute;
        right: -80px;
        border: 0;
        transition: all 0.3s ease-in-out;
        z-index: -1;

        i {
          font-size: $heading-04-400;
          color: $green-primary;
          cursor: pointer;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $green-dark;
          }
        }

        input,
        .btn_search {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .app {
    .main_header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}
