// colors
$white: #ffffff;
$black: #333333;
$hero: #edf2ee;
$orange-warning: #f98300;
$red-danger: #ea494a;
$green-gray-9: #0a1f0a;
$green-gray-8: #1d331d;
$green-gray-7: #375c37;
$green-gray-6: #4e7d4e;
$green-gray-5: #659e65;
$green-gray-4: #85b985;
$green-gray-3: #a5d5a5;
$green-primary: #00b207;
$green-dark: #00740e;
$gray-dark: #2b2b2b;
$gray: #464646;
$gray-medium: #6a6a6a;
$gray-light: #a1a1a1;
$gray-lighter: #b7b7b7;
$gray-very-light: #dfdfdf;

// Typography System
$font-family-base: "Poppins", sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Display
$display-01-400: 3.5em; // 56px

// Headings
$heading-01-400: 2.5em; // 40px
$heading-02-400: 2em; // 32px
$heading-03-400: 1.75em; // 28px
$heading-04-400: 1.5em; // 24px
$heading-05-400: 1.25em; // 20px
// Body Text
$body-xl-400: 1.125em; // 18px
$body-lg-400: 1em; // 16px
$body-md-400: 0.875em; // 14px
$body-sm-400: 0.75em; // 12px

// Breakpoints
$small-desktop: 1250px; // 12
$tablet-screen: 1080px; // 8
$phone-screen: 787px; //6
$small-screen: 376px; //4
$custom-large: 1300px;
