@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// small-desktop === 1250 // 12
@media (max-width: $small-desktop) {
  .app {
    #hero {
      .hero_features {
        position: absolute;
        bottom: -100px;
      }
    }
  }
}

// tablet-screen === 1080 // 8
// @media (max-width: $tablet-screen) {
//   .app {
//   }
// }

// phone-screen === 787 //6
@media (max-width: 850px) {
  .app {
    #hero {
      .hero_features {
        bottom: -200px;
        justify-content: center;
      }
    }
  }
}

// $small-screen: 376px; //4
// @media (max-width: $small-screen) {
//   .app {
//   }
// }
