@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@media (min-width: $small-desktop) and (max-width: 1390px) {
  .app {
    #hero {
      .hero_container {
        .hero_content {
          grid-column: 1/7;
        }
        .hero_images {
          grid-column: 7/13;
        }
      }
    }
  }
}

// small-desktop === 1250 // 12
@media (max-width: $small-desktop) {
  .app {
    #hero {
      overflow-x: hidden;
      align-items: flex-start;
      .hero_container {
        display: block;
        position: relative;
        width: 100%;
        height: inherit;
        margin-top: 0;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 9;
          width: 100%;
          height: 100%;
          backdrop-filter: blur(5px);
        }

        .hero_content {
          position: absolute;
          z-index: 10;
          top: 20%;
          left: 150px;
          transform: translateY(-20%);
        }

        .hero_images {
          width: $small-desktop;
          position: absolute;
          top: 50%;
          right: -850px;
          transform: translateY(-50%);
          img {
            display: none;
          }

          .hero_second_img {
            flex: 0 0 auto;
            object-fit: contain;
            display: block;
            width: 400px;
          }
        }
      }
    }
  }
}

// tablet-screen === 1080 // 8
// @media (max-width: $tablet-screen) {
//   .app {
//   }
// }

// phone-screen === 787 //6
@media (max-width: $phone-screen) {
  .app {
    #hero {
      .hero_container {
        .hero_content {
          left: 25px;
          right: 25px;
          .co_title {
            margin: 0 auto;
            background-color: $green-primary;
            border-radius: 15px 15px 0 0;
            width: fit-content;
            color: $white;
            padding: 0 15px;
            font-weight: $font-weight-semibold;
            font-size: $heading-05-400;
          }
          .hero_discount {
            margin-top: 15px;
            color: $black;
          }
          .hero_para {
            text-shadow: 1px 0px 1px $green-gray-8;
          }
        }
        .hero_images {
          transform: translateY(-50%);
        }
      }
    }
  }
}

// $small-screen: 376px; //4
// @media (max-width: $small-screen) {
//   .app {
//   }
// }
