@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.app {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-columns: auto;
  grid-template-areas:
    "hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr"
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "hero hero hero hero hero hero hero hero hero hero hero hero";
}
